* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form button {
  margin-left: 1em;
}

.button_Start {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: auto;
}
.sing_score {
  display: flex;
  justify-content: center;
  margin-right: 100vh;
}
.timer {
  display: none;
  justify-content: center;
  align-items: center;
}
/* .sing_player {
  display: none;
} */
